
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire
sentencepiece
gradio
wandb
numpy
rouge_score
openai
wandb
gradio==3.9
deepspeed 
tensorboardX
